#chat-container {
    /* buat sementara aja sampe jadi chatboxnya */
    top: 50px;
    /*  */
    background: url(../assets/wallpaper.png) center no-repeat;
    background-size: cover;
    min-height: 80vh;
    width: 40vw;
    margin: 1em auto;
    position: relative;
    margin: auto;
    border-radius: 5px;
    /* background: #F0F0F0; */
    color: #333;
}

#chat-container-navbar {
    border-radius: 6px 6px 0 0;
    background: lavender;
    display: flex;
    align-items: center;
}

#profile-name {
    background: none;
}

#chatbox {
    padding: 0;
    width: 95%;
    background: white;
    padding: .5em 0;
    border-radius: 6px;
    margin: 1em .5em;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

#text-msg {
    background: inherit;
    width: 70%;
    border: 0;
    cursor: pointer;
    outline: none;
}

#text-btn:hover {
    color: #333;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
    background: inherit;
}

#sticker {
    cursor: pointer;
}

#sticker:hover {
    color: #333;
}