* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: lightyellow;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* justify-content: center; */
    /* align-items: center; */
}

#title {
    font-family: 'Montserrat', sans-serif;
    color: #128c7e;
    text-align: center;
    margin: 0 1em;
    padding: 1em;
}

.main-title {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: .7rem;
}

.sub-title {
    font-weight: 300;
}

.hidden {
    visibility: hidden;
}

#footer {
    margin: 0 auto;
    padding: 1.2em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

#jservice {
    font-family: inherit;
    text-decoration: none;
    color: rgba(51, 51, 51, 0.7);
    font-weight: 700;
}

#github-link {
    text-decoration: none;
    color: #128c7e;
    font-weight: 700;
}